<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_2stepdown</key>
	<dict>
		<key>e</key>
		<dict>
			<key>name</key>
			<string>eb</string>
			<key>file</key>
			<string>guitar_EbHigh.mp3</string>
		</dict>
		<key>B</key>
		<dict>
			<key>name</key>
			<string>Bb</string>
			<key>file</key>
			<string>guitar_Bb.mp3</string>
		</dict>
		<key>G</key>
		<dict>
			<key>name</key>
			<string>Gb</string>
			<key>file</key>
			<string>guitar_Gb.mp3</string>
		</dict>
		<key>D</key>
		<dict>
			<key>name</key>
			<string>Db</string>
			<key>file</key>
			<string>guitar_Db.mp3</string>
		</dict>
		<key>A</key>
		<dict>
			<key>name</key>
			<string>Ab</string>
			<key>file</key>
			<string>guitar_Ab.mp3</string>
		</dict>
		<key>F</key>
		<dict>
			<key>name</key>
			<string>Fb</string>
			<key>file</key>
			<string>guitar_Eblow.mp3</string>
		</dict>
	</dict>
	<key>dropd</key>
	<dict>
		<key>e</key>
		<dict>
			<key>name</key>
			<string>e</string>
			<key>file</key>
			<string>guitar_EHigh.mp3</string>
		</dict>
		<key>B</key>
		<dict>
			<key>name</key>
			<string>B</string>
			<key>file</key>
			<string>guitar_B.mp3</string>
		</dict>
		<key>G</key>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>file</key>
			<string>guitar_G.mp3</string>
		</dict>
		<key>D</key>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>file</key>
			<string>guitar_D.mp3</string>
		</dict>
		<key>A</key>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>file</key>
			<string>guitar_A.mp3</string>
		</dict>
		<key>F</key>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>file</key>
			<string>guitar_DropD.mp3</string>
		</dict>
	</dict>
	<key>standard</key>
	<dict>
		<key>e</key>
		<dict>
			<key>name</key>
			<string>e</string>
			<key>file</key>
			<string>guitar_EHigh.mp3</string>
		</dict>
		<key>B</key>
		<dict>
			<key>name</key>
			<string>B</string>
			<key>file</key>
			<string>guitar_B.mp3</string>
		</dict>
		<key>G</key>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>file</key>
			<string>guitar_G.mp3</string>
		</dict>
		<key>D</key>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>file</key>
			<string>guitar_D.mp3</string>
		</dict>
		<key>A</key>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>file</key>
			<string>guitar_A.mp3</string>
		</dict>
		<key>F</key>
		<dict>
			<key>name</key>
			<string>F</string>
			<key>file</key>
			<string>guitar_Elow.mp3</string>
		</dict>
	</dict>
</dict>
</plist>
