<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acro</key>
	<dict>
		<key>A</key>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>file</key>
			<string>violin_a.wav</string>
		</dict>
		<key>D</key>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>file</key>
			<string>violin_d.wav</string>
		</dict>
		<key>E</key>
		<dict>
			<key>name</key>
			<string>E</string>
			<key>file</key>
			<string>violin_e.wav</string>
		</dict>
		<key>G</key>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>file</key>
			<string>violin_g.wav</string>
		</dict>
	</dict>
	<key>pizz</key>
	<dict>
		<key>A</key>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>file</key>
			<string>violin_a_pluck.wav</string>
		</dict>
		<key>D</key>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>file</key>
			<string>violin_d_pluck.wav</string>
		</dict>
		<key>E</key>
		<dict>
			<key>name</key>
			<string>E</string>
			<key>file</key>
			<string>violin_e_pluck.wav</string>
		</dict>
		<key>G</key>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>file</key>
			<string>violin_g_pluck.wav</string>
		</dict>
	</dict>
</dict>
</plist>
